%ul
  %li
    .clear
    .address Красноярск Афонтовский пер, 7 (оф.125, 1эт.)
    .clear
    .tel{style: "float: left"}
      +7 (391)
      %b 256-11-31
  %li
    .clear
    .address Красноярск Карла Маркса ул, 7 (оф.125, 1эт.)
    .clear
    .tel{style: "float: left"}
      +7 (391)
      %b 236-10-30
  %li
    .clear
    .address Красноярск ул 9 Мая, 7 (оф.125, 1эт.)
    .clear
    .tel{style: "float: left"}
      +7 (391)
      %b 233-13-33
  %li
    .clear
    .address Красноярск Мира просп, 7 (оф.125, 1эт.)
    .clear
    .tel{style: "float: left"}
      +7 (391)
      %b 211-12-31
