%h3 Цены

:erb
  <article id="content" class="Block WhiteBlockBg FloatLeft Width556 BorderRadius15">
  	<table class="General MarginTop40">
  	<thead>
  		<tr class="Even">
  			<th>Консультации</th>
  			<th>Цена</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr class="Even">
  			<td>Консультации частным лицам по вопросам гражданского и иного права</td>
  			<td class="RightTd Width100">от 1000 руб.</td>
  		</tr>
  		<tr>
  			<td>Консультации организациям, компаниям и индивидуальным предпринимателям по вопросам, связанным с финансово-хозяйственной деятельностью</td>
  			<td class="RightTd Width100">от 2999 руб.</td>
  		</tr>
  		<tr class="Even">
  			<td>Цена может быть изменена в зависимости от сложности консультации и предоставления письменного разъяснения по вопросам консультирования</td>
  			<td class="RightTd Width100">&nbsp;</td>
  		</tr>
  	</tbody>
  </table>

  <table class="General MarginTop40">
  	<thead>
  		<tr class="Even">
  			<th>Подготовка документов</th>
  			<th>Цена</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr class="Even">
  			<td>Правовой анализ договора, соглашения или иного документа</td>
  			<td class="RightTd Width100">от 2999 руб</td>
  		</tr>
  		<tr>
  			<td>Подготовка проектов уставов, решений, заполнение форм заявлений, необходимых для регистрации изменений и иные правовые документы, связанные с учреждением организаций и компаний</td>
  			<td class="RightTd Width100">от 8999 руб</td>
  		</tr>
  		<tr class="Even">
  			<td>Составление заявлений, жалоб, претензий, заявок и иных документов</td>
  			<td class="RightTd Width100">от 1500 руб</td>
  		</tr>
  		<tr>
  			<td>Составление договоров, соглашений, контрактов и иных документов</td>
  			<td class="RightTd Width100">от 4999 руб</td>
  		</tr>
  		<tr class="Even">
  			<td>Составление исковых заявлений по неимущественным делам</td>
  			<td class="RightTd Width100">от 2999 руб</td>
  		</tr>
  		<tr>
  			<td>Составление исковых заявлений по имущественным делам</td>
  			<td class="RightTd Width100">5% от цены иска, но не менее 4999 руб.</td>
  		</tr>
  		<tr class="Even">
  			<td>Составление апелляционных, кассационных и надзорных жалоб</td>
  			<td class="RightTd Width100">от 4999 руб.</td>
  		</tr>
  	</tbody>
  </table>

  <table class="General MarginTop40">
  	<thead>
  		<tr class="Even">
  			<th>Представительство в судах</th>
  			<th>Цена</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr class="Even">
  			<td>Представительство в суде первой инстанции для частных лиц</td>
  			<td class="RightTd Width100">от 29000 руб. в зависимости от сложности вопроса</td>
  		</tr>
  		<tr>
  			<td>Представительство в суде первой инстанции для юридических лиц</td>
  			<td class="RightTd Width100">от 39000 руб. в зависимости от сложности вопроса</td>
  		</tr>
  		<tr class="Even">
  			<td>Представительство в арбитражном процессе</td>
  			<td class="RightTd Width100">цена договорная</td>
  		</tr>
  		<tr>
  			<td>Представительство в суде апелляционной и кассационной инстанции</td>
  			<td class="RightTd Width100">от 29000 руб - для частных лиц<br>
  			от 49000 руб - для юрид. лиц</td>
  		</tr>
  		<tr class="Even">
  			<td>Представительство в суде надзорной инстанции</td>
  			<td class="RightTd Width100">от 39000 руб - для частных лиц<br>
  			от 59000 руб - для юрид. лиц</td>
  		</tr>
  		<tr>
  			<td>Представительство в Верховном суде</td>
  			<td class="RightTd Width100">цена договорная</td>
  		</tr>
  		<tr class="Even">
  			<td>Представительство в правоохранительных органах</td>
  			<td class="RightTd Width100">от 29000 руб - для частных лиц<br>
  			от 49000 руб - для юрид. лиц</td>
  		</tr>
  		<tr>
  			<td>Представительство по иным вопросам и в иных организациях</td>
  			<td class="RightTd Width100">цена договорная</td>
  		</tr>
  	</tbody>
  </table>

  <table class="General MarginTop40">
  	<thead>
  		<tr class="Even">
  			<th>Юридическое сопровождение и абонентское обслуживание</th>
  			<th>Цена</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr class="Even">
  			<td>Абонентское юридическое обслуживание организаций, компаний, бизнеса и индивидуальных предпринимателей</td>
  			<td class="RightTd Width100">от 15000 руб</td>
  		</tr>
  		<tr>
  			<td>Абонентское юридическое обслуживание частных лиц</td>
  			<td class="RightTd Width100">от 10000 руб</td>
  		</tr>
  	</tbody>
  </table>

  <table class="General MarginTop40">
  	<thead>
  		<tr class="Even">
  			<th>Специализированные юридические услуги</th>
  			<th>Цена</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr class="Even">
  			<td>Правовое сопровождение лечения в Израиле</td>
  			<td class="RightTd Width100">цена договорная</td>
  		</tr>
  		<tr>
  			<td>Оказание правовой помощи туристам</td>
  			<td class="RightTd Width100">цена договорная</td>
  		</tr>
  	</tbody>
  </table>
  </article>