---
title: Результат Главная
---

%h3 Юридические услуги с гарантией решения Вашей проблемы!
%p
  Многолетний опыт наших специалистов, их высочайший профессионализм – это гарантия своевременного и качественного выполнения всех взятых на себя обязательств по оказанию юридической помощи в области гражданского права и арбитража.
%p
  Мы оказываем консультации по земельным, жилищным, медицинским вопросам, представляем интересы наших клиентов в судах общей юрисдикции и в арбитраже.
= partial 'user_form'
%h3 Мы предоставляем следующие услуги
.services
  %ul
    %li Юридичесие консультации
    %li
      %a{href: "#"} По наследству
    %li
      %a{href: "#"} По земле и земельным спорам
    %li
      %a{href: "#"} Защита прав потребителей
    %li
      %a{href: "#"} По клубному отдыху
    %li
      %a{href: "#"} По вопросам трудового права
  %ul
    %li Представительство в судах
    %li
      %a{href: "#"} По наследству
    %li
      %a{href: "#"} Юридичесие консультации
    %li
      %a{href: "#"} По клубному отдыху
    %li
      %a{href: "#"} По земле и земельным спорам
    %li
      %a{href: "#"} Защита прав потребителей
    %li
      %a{href: "#"} По вопросам трудового права
  %ul
    %li Юридическое сопровождение
    %li
      %a{href: "#"} По наследству
    %li
      %a{href: "#"} По вопросам трудового права
    %li
      %a{href: "#"} По клубному отдыху
    %li
      %a{href: "#"} По земле и земельным спорам
    %li
      %a{href: "#"} Защита прав потребителей
    %li
      %a{href: "#"} Юридичесие консультации
  %ul
    %li Подготовка документов
    %li
      %a{href: "#"} По наследству
    %li
      %a{href: "#"} Защита прав потребителей
    %li
      %a{href: "#"} По вопросам трудового права
    %li
      %a{href: "#"} По клубному отдыху
    %li
      %a{href: "#"} По земле и земельным спорам
    %li
      %a{href: "#"} Юридическое сопровождение
    %li
      %a{href: "#"} Защита прав потребителей
    %li
      %a{href: "#"} Юридичесие консультации

