%h3 Консультации по жилищным спорам и жилищному праву

%p
  %img{src: 'http://feliciya.ru/images/pages/jur_konsult_2.jpg', style: 'float: left; margin-right: 10px; margin-bottom: 5px;'}
  Консультация по жилищным вопросам направлена на предупреждение ошибок в области жилищного права.
  Многие клиенты приходят в Юридическое Агентство «Фелиция» с вопросами направленными на предупреждение тех или иных ситуаций связанных с жильем, пропиской, подписанием договор найма, купли-продажи и т.д.
  Но немало клиентов приходят в Юридическое Агентство «Фелиция» и с вопросами, которые возникли в ходе совершения сделки с недвижимым имуществом, а иногда и после совершения данной сделки.
  Чем позднее обращается к нам клиент, тем меньше шансов правильно и в пользу клиента разрешить жилищный вопрос.
  Кроме того, консультации по вопросам жилищного права ведет сотрудник ООО ЮА «Фелиция» судья Савеловского районного суда г. Москвы в отставке Герасимова Светлана Владимировна.
  Записаться на прием и задать вопрос Герасимовой Светлане Владимировне можно по телефонам, указанным на сайте в разделе «Контакты», а также, отправив письмо на электронную почту Юридического агентства «Фелиция».

.hr
%h3 Консультации по наследству
%p
  Чем позднее обращается к нам клиент, тем меньше шансов правильно и в пользу клиента разрешить жилищный вопрос.
%p
  Кроме того, консультации по вопросам жилищного права ведет сотрудник ООО ЮА «Фелиция» судья Савеловского районного суда г. Москвы в отставке Герасимова Светлана Владимировна.
  Записаться на прием и задать вопрос Герасимовой Светлане Владимировне можно по телефонам, указанным на сайте в разделе «Контакты», а также, отправив письмо на электронную почту Юридического агентства «Фелиция».
